<div class="container space-y-8">
    <h2><%= @todo.title %></h2>

    <p><%= @todo.content %></p>

    <div class="space-x-4 flex justify-end border-t pt-8">
        <%= link_to root_path, class: "btn btn--outline" do %>
            Back
        <% end %>

        <%= link_to edit_todo_path(@todo), class: "btn btn--primary" do %>
            Edit
        <% end %>

        <%= link_to todo_path(@todo), class: "btn btn--danger", data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete that todo?"
        } do %>
            Delete
        <% end %>
        <%#
            HTML :
                <a
                    data-turbo-method="delete"      # changes the request from GET to DELETE
                    data-turbo-confirm="Are you sure you want to delete that todo?"
                    href="/todos/4"
                >
                    Delete
                </a>
        %>
    </div>
</div>
