<h1><%= @todo.title %></h1>

<p><%= @todo.content %></p>

<ul>
    <li>
        <%= link_to "Edit", edit_todo_path(@todo) %>
    </li>
    <li>
        <%= link_to "Delete", todo_path(@todo), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete that todo?"
        } %>
        <%#
            HTML :
                <a
                    data-turbo-method="delete"      # changes the request from GET to DELETE
                    data-turbo-confirm="Are you sure you want to delete that todo?"
                    href="/todos/4"
                >
                    Delete
                </a>
        %>
    </li>
</ul>

<%= link_to "Back to list", todos_path %>